<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.apollossun.newword">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_dictionary"
        android:label="@string/words"
        android:roundIcon="@mipmap/ic_launcher_dictionary_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CreateWordActivity"
            android:label="Create a word"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="stateVisible">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

    </application>

</manifest>